// immagine associata al post
//

.post-image {
    img {
        height: 100px;
    }
}
//
// checkbox e relative label

input[id^="tag_"],
label[for^="tag_"] {
    cursor: pointer;
}
//
/* bandierina associata alla lingua  */
.flag {
    width: 20px;
    height: 15px;
    margin-left: 10px;
    vertical-align: text-bottom;
}